<div class="theme">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mobile-card mx-auto px-4 py-4 text-center text-white">
                <div class="d-flex align-items-center top-bar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-grid-3x3-gap" viewBox="0 0 16 16">
                        <path d="M4 2v2H2V2h2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2v2H7V2h2zm5 0v2h-2V2h2zM4 7v2H2V7h2zm5 0v2H7V7h2zm5 0h-2v2h2V7zM4 12v2H2v-2h2zm5 0v2H7v-2h2zm5 0v2h-2v-2h2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z"/>
                      </svg>
                    <h3>Weather Forcast</h3>
                </div>

                <div class="form-group mt-3 search-wrapper">
                    <div class="form-group--relative position-relative">
                        <input type="text" [(ngModel)] = "term" (keyup)="filterCities()" class="form-control themed-bg" placeholder="Search Your City" autocomplete="off">
                        <div class="icon-left">
                          <i *ngIf="!showSerach" (click)="showSerach = !showSerach" class="fa fa-search" aria-hidden="true"></i>
                          <i *ngIf="showSerach" (click)="closeSearch()" class="fa fa-close" aria-hidden="true"></i>
                        </div>                                                    
                    </div>

                    <div class="search-box" *ngIf="showSerach">
                        <div class="item-row" (click)="selectTerm(item)" *ngFor="let item of data | searchFilter:term">
                            {{ item.LocalizedName }}
                        </div>
                    </div>
                      
                </div>

                <div *ngIf="todayData">
                    <div class="weather-section mt-3 themed-bg">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="bold text-14">Today</div>
                            <div class="text-12">{{todayData.date}}</div>
                        </div>
    
                        <div class="d-flex justify-content-space-between my-1">
                            <div class="temp">+{{todayData.temperature.Value}}<div class="deg">°{{todayData.temperature.Unit}}</div></div>
                            <div class="temp-img">
                                <img class="img-fluid" src="/assets/images/few-clouds.png">
                            </div>
                        </div>
    
                        <div class="location-locator text-12">
                            <div><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div>{{todayData.city}}, {{todayData.country}}</div>
                        </div>                   
                    </div>
    
                    <div class="mt-3 d-flex boxes-2">
                        <div class="themed-bg box-1">
                            <div style="flex-basis: 25%;">
                                <img class="img-fluid" src="/assets/images/humidity.png">
                            </div>
                            <div style="line-height: 15px;text-align: left;">
                                <b>92%</b><br>
                                <span class="text-14">Humidity</span>
                            </div>    
                        </div>
                        <div class="themed-bg box-2">
                            <div style="flex-basis: 25%;">
                                <img class="img-fluid" src="/assets/images/pressure.png">
                            </div>
                            <div style="line-height: 15px;text-align: left;">
                                <b>1010HPa</b><br>
                                <span class="text-14">Presure</span>
                            </div>    
                        </div>
                    </div>
    
                    <div class="mt-3 d-flex boxes-3">
                        <div class="themed-bg box">
                            <div class="text-24 percentage">+{{todayData.upcomingDay1.temperature.Value}}<span class="deg text-14">°{{todayData.upcomingDay1.temperature.Unit}}</span></div>
                            <span class="text-14">{{todayData.upcomingDay1.day}}</span>
                        </div>
                        <div class="themed-bg box">
                            <div class="text-24 percentage">+{{todayData.upcomingDay2.temperature.Value}}<span class="deg text-14">°{{todayData.upcomingDay1.temperature.Unit}}</span></div>
                            <span class="text-14">{{todayData.upcomingDay2.day}}</span>
                        </div>
                        <div class="themed-bg box">
                            <div class="text-24 percentage">+{{todayData.upcomingDay3.temperature.Value}}<span class="deg text-14">°{{todayData.upcomingDay1.temperature.Unit}}</span></div>
                            <span class="text-14">{{todayData.upcomingDay3.day}}</span>
                        </div>
                    </div>
                </div>
                

            </div>

        </div>
    </div>
</div>
