.theme{
    color: #ffff;
}
.themed-bg{
    background-color: #1a1c49;
}
.mobile-card{
    max-width: 330px;
    background-color: #575a7f;
    height: 100vh;
    overflow: hidden;
}
.bold{
    font-weight: bold;
}
.top-bar{
    svg{
        flex-basis: 10%;
    }
    h3{
        flex-basis: 90%;
        margin:0;
        font-size: 24px;
    }
}
.icon-left{
    position: absolute;
    font-size: 18px;
    color: #C4C4C4;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    height: 30px;
    line-height: 30px;
}
.search-wrapper{
    position: relative;
    .search-box{
        position: absolute;
        background: #fff;
        color: #000;
        width: 100%;
        border-radius: 15px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 9999;
        .item-row{
            cursor: pointer;
        }
        .item-row:hover{
            background-color: lightgray;
        }
    }
    .search-box::before{
        content: "";
        height: 100%;
        width: 100%;
    }
}
.form-group--relative{
    input{
        font-size: 14px;
        line-height: 35px;
        padding: 0.375rem 1rem;
        border-radius: 15px;
        color: #ffff;
        border: 0;
    }
}
.form-group .form-control::placeholder {
    color: #C4C4C4;
}

.weather-section{
    border-radius: 15px;
    padding: 5px 12px;
    .temp{
        font-size: 50px;
        font-weight: 500;
        flex-basis: 60%;
        display: flex;
        position: relative;
        .deg{
            color: gold;
            font-size: 20px;
            position: absolute;
            left: 95px;
            top: 10px;
        }
    }
    .temp-img{
        flex-basis: 35%;
    }
    .location-locator{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.boxes-2{
    justify-content: space-between;
    gap: 20px;
    .box-1{
        flex-basis: 50%;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        gap: 10px;
    }
    .box-2{
        flex-basis: 50%;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        gap: 10px;
    }
}

.boxes-3{
    justify-content: space-between;
    gap: 20px;
    .box{
        flex-basis: 33.33%;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        .percentage{
            position: relative;
            padding-left: 2px;
            text-align: left;
            .deg{
                position: absolute;
                top: 12px;
                right: 0px;
            }
        }
    }
}